<%- include('partials/header') %>
<%- include('partials/sidebar') %>

    
    
    <div class="col mt-3">
      <%- include('partials/settings') %>

      <div class="d-flex">
        <div class="d-flex">
        </div>
        <div class="" >
          <p style="font-size: 20px;">ចំនួនសិក្ខាកាម <%= countStudent %> នាក់</p>
        </div>
        
        
 </div>
   
    
<table class="table studentList" id="myTable">
    <thead>
      <tr>
        <th scope="col">អត្តលេខ</th>
        <th scope="col">នាម និងគោត្តនាម</th>
        <th scope="col">ជាអក្សរឡាតាំង</th>
        <th scope="col">ភេទ</th>
        <th scope="col">ថ្ងៃខែឆ្នាំកំណើត</th>
        <th scope="col">អាយុ</th>
        <th scope="col">លេខទូរសព័្ទ</th>
        <th scope="col">ការកំណត់</th>
      </tr>
    </thead>
    <tbody>
     
      <% newListStudents.forEach(function(student, index) { 
        const dob = moment(student.dateofbirth);
        const age = moment().diff(dob, 'years');
        %>
        <tr>
          <td> <%= student.studentID %> </td>
          <td> <%= student.khmername %> </td>
          <td> <%= student.englishname %></td>
          <td> <%= student.gender %></td>
          <td> <%= moment(student.dateofbirth).format('DD-MM-YYYY') %></td>
          <td> <%= age %></td>
          <td> <%= student.phone %></td>
          <td>
            <div class="d-flex">
              <form action="">
                <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal<%= index %>" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                </svg></button>
              </form>&nbsp;
             
              
              
            </div>
          </td>
        </tr>
      <% })  %>
      
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      
        <li class="page-item"><a class="page-link" href="?page=<%= 1 %>&search=<%=  search %>">ដំបូង</a></li>
        <% if(currentPage > 1) { %>
          <li class="page-item"><a class="page-link" href="?page=<%= currentPage - 1 %>&search=<%=  search %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
          </svg></a></li>
        <% } %>
        <li class="page-item"><a class="page-link" href=""><%= currentPage %></a></li>
        <%  let currentPagenum = parseInt(currentPage);%>
        <% if(currentPagenum < totalPage) { %>
        <li class="page-item"><a class="page-link" href="?page=<%= currentPagenum + 1%>&search=<%=  search %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
          <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg></a></li>
        <% }%>
        <li class="page-item"><a class="page-link" href="?page=<%= totalPage %>&search=<%=  search %>">ចុងក្រោយ</a></li>
      
    </ul>
  </nav>
</div>

<!-- Modal -->
<form action="/addStudent" method="POST" class="needs-validation" novalidate="">
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4" id="exampleModalLabel">បញ្ចូលទិន្នន័យ</h1>
        </div>
        <div class="modal-body">
          <div class="row g-3">
           
            <div class="col-sm-7">
              <label for="khmername" class="form-label">នាម និង គោត្តនាម</label>
              <input type="text" class="form-control" name="khmername" placeholder="" value="" required>
              <div class="invalid-feedback">
                សូមបំពេញឈ្មោះ
              </div>
            </div>
  
            <div class="col-sm-5">
              <label for="studentID" class="form-label">អត្តលេខ</label>
              <input type="text" class="form-control" name="studentID" placeholder="" value="" required="">
              <div class="invalid-feedback">
                សូមបំពេញអត្តលេខ
              </div>
            </div>
            <div class="col-sm-7">
              <label for="englishname" class="form-label">ជាអក្សរឡាតាំង</label>
              <input type="text" class="form-control" name="englishname" placeholder="" value="" required="">
              <div class="invalid-feedback">
                សូមបំពេញឈ្មោះ
              </div>
            </div>
            <div class="col-sm-5">
              <label for="phone" class="form-label">លេខទូរស័ព្ទ</label>
              <input type="text" class="form-control" name="phone" placeholder="" value="" >
              <div class="invalid-feedback">
             
              </div>
            </div>
  
            <div class="col-md-4">
              <label for="gender" class="form-label">ភេទ</label>
              <select class="form-select" name="gender" required="">
                <% for (let i = 0; i < genderList.length; i++) { %>
                  <option value="<%= genderList[i] %>"><%= genderList[i] %></option>
                <% } %>
              </select>
              <div class="invalid-feedback">
                សូមជ្រើសរើសភេទ
              </div>
            </div>
  
            <div class="col-md-3">
              <label for="dateofbirth" class="form-label">ថ្ងៃខែឆ្នាំកំណើត</label>
              <input type="date" class="form-control" name="dateofbirth" placeholder="" required="">
              <div class="invalid-feedback">
                សូមជ្រើសរើសកាលបរិច្ឆេទ
              </div>
            </div>
  
            <div class="col-md-5">
              <label for="skill" class="form-label">ជំនាញ</label>
              <select class="form-select" name="skill" required="">
                <% for (let i = 0; i < skillList.length; i++) { %>
                  <option value="<%= skillList[i] %>"><%= skillList[i] %></option>
                <% } %>
              </select>
              <div class="invalid-feedback">
                សូមជ្រើសរើសជំនាញ
              </div>
            </div>
  
            <div class="col-md-4">
              <label for="course" class="form-label">វគ្គសិក្សា</label>
              <select class="form-select" name="course" required="">
                <% for (let i = 0; i < courseLists.length; i++) { %>
                  <option value="<%= courseLists[i] %>"><%= courseLists[i] %></option>
                <% } %>
              </select>
              <div class="invalid-feedback">
                សូមជ្រើសរើសវគ្គសិក្សា
              </div>
            </div>
  
            <div class="col-md-3">
              <label for="dateregister" class="form-label">ថ្ងៃចុះឈ្មោះ</label>
              <input type="date" class="form-control" name="dateregister" placeholder="" required="">
              <div class="invalid-feedback">
                សូមជ្រើសរើសកាលបរិច្ឆេទ
              </div>
            </div>
  
            <div class="col-md-5">
              <label for="price" class="form-label">តម្លៃសិក្សា</label>
              <input type="text" class="form-control" name="price" placeholder="" required="">
              <div class="invalid-feedback">
                សូមបំពេញតម្លៃសិក្សា
              </div>
            </div>
            
            <div class="col-md-4">
              <label for="payment" class="form-label">ការទូទាត់</label>
              <select class="form-select" name="payment" required="">
                <% for (let i = 0; i < paymentList.length; i++) { %>
                  <option value="<%= paymentList[i] %>"><%= paymentList[i] %></option>
                <% } %>
              </select>
              <div class="invalid-feedback">
                សូមជ្រើសរើសការទូរទាត់
              </div>
            </div>
  
            <div class="col-md-3">
              <label for="occupation" class="form-label">មុខរបរ</label>
              <select class="form-select" name="occupation" required="">
                <% for (let i = 0; i < jobList.length; i++) { %>
                  <option value="<%= jobList[i] %>"><%= jobList[i] %></option>
                <% } %>
              </select>
              <div class="invalid-feedback">
                សូមជ្រើសរើសមុខរបរ
              </div>
            </div>
  
            <div class="col-md-5">
              <label for="status" class="form-label">ស្ថានភាព</label>
              <select class="form-select" name="status" required="">
                <% for (let i = 0; i < statusList.length; i++) { %>
                  <option value="<%= statusList[i] %>"><%= statusList[i] %></option>
                <% } %>
              
              </select>
              <div class="invalid-feedback">
                សូមជ្រើសរើសស្ថានភាព
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ចាកចេញ</button>
          <button type="submit" class="btn btn-primary">រក្សាទុក</button>
        </div>
      </div>
    </div>
  </div>
</form>


<% newListStudents.forEach(function(student, index) { %>

  <div class="modal fade" id="exampleModal<%= index %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="exampleModalLabel">ព័ត៌មានរបស់សិក្ខាកាម</h1><br>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% var id = '';
        if(student.studentID){
          id = 'អត្តលេខ: ' + student.studentID;
        } else {
          id = 'អត្តលេខ: គ្មាន';
        }
         %>
        <h2 class="modal-title fs-4"><%= id %></h2><br>
        <div class="d-flex gap-2">
          <table class="table studentDetail">
            <tbody>
              
              <tr>
                <th scope="row" >ឈ្មោះ</th>
                <td><%= student.khmername %></td>
              </tr>
              <tr>
                <th scope="row" >ជាអក្សរឡាតាំង</th>
                <td><%= student.englishname %></td>
              </tr>
              <tr>
                <th scope="row" >ភេទ</th>
                <td><%= student.gender %></td>
              </tr>
              <tr>
                <th scope="row" >ថ្ងៃខែឆ្នាំកំណើត</th>
                <td><%= moment(student.dateofbirth).format('DD-MMM-YYYY') %></td>
              </tr>
              <tr>
                <th scope="row" >លេខទូរសព័្ទ</th>
                <td><%= student.phone %></td>
              </tr>
            </tbody>
          </table>
          <table class="table studentDetail">
            <tbody>
              <tr>
                <th>ជំនាញ</th>
                <td><%= student.skill %></td>
              </tr>
              <tr>
                <th>វគ្គសិក្សា</th>
                <td><%= student.course %></td>
              </tr>
              <tr>
                <th>ថ្ងៃចុះឈ្មោះ</th>
                <td><%= moment(student.dateregister).format('DD-MMM-YYYY') %></td>
              </tr>
              <tr>
                <th>មុខរបរ</th>
                <td><%= student.occupation %></td>
              </tr>
              <tr>
                <th>ស្ថានភាព</th>
                <td>
                  <% if(student.status === 'កំពុងសិក្សា') { %>
                    <div class="active-student"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="green" class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                  </svg>&nbsp;<%= student.status %></div>
                  <% } else if(student.status === 'បញ្ចប់ការសិក្សា') { %>
                    <div class="exam-student"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="blue" class="bi bi-circle-fill" viewBox="0 0 16 16">
                      <circle cx="8" cy="8" r="8"/>
                    </svg>&nbsp;បញ្ចប់</div>
                    <% } else if(student.status === 'បោះបង់ការសិក្សា') { %>
                      <div class="dropout-student"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="red" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                      </svg>&nbsp;បោះបង់</div>
                    <% } else { %>
                      <div class="other-student"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="black" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                      </svg>&nbsp;<%= student.status %></div>
                    <% } %>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
       
        
      </div>
      <div class="modal-footer">
        <% if(userRole === 'viewer') { %>
          <button style="display: none;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal<%= index %>" type="button">កែទិន្នន័យ</button>
          <% } else { %>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal<%= index %>" type="button">កែទិន្នន័យ</button>
          <% } %>
      </div>
    </div>
  </div>
</div>
<% })  %>

<% newListStudents.forEach(function(student, index) { %>
<!-- Modal -->
<form action="/updateStudent" method="POST">
<div class="modal fade" id="updateModal<%= index %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-4" id="exampleModalLabel">កែសម្រួលទិន្នន័យ</h1>
      <input style="display: none;" type="text" name="objectID" value="<%= student._id %>">
    </div>
    <div class="modal-body">
      <div class="row g-3">
       
        <div class="col-sm-7">
          <label for="khmername" class="form-label">នាម និង គោត្តនាម</label>
          <input type="text" class="form-control" name="khmername" placeholder="" value="<%= student.khmername %>" required="">
          <div class="invalid-feedback">
            សូមបំពេញឈ្មោះ
          </div>
        </div>
        <div class="col-sm-5">
          <label for="studentID" class="form-label">អត្តលេខ</label>
          <input type="text" class="form-control" name="studentID" placeholder="" value="<%= student.studentID %>" required="">
          <div class="invalid-feedback">
            សូមបំពេញអត្តលេខ
          </div>
        </div>
        

        <div class="col-sm-7">
          <label for="englishname" class="form-label">ជាអក្សរឡាតាំង</label>
          <input type="text" class="form-control" name="englishname" placeholder="" value="<%= student.englishname %>" required="">
          <div class="invalid-feedback">
           សូមបំពេញឈ្មោះ
          </div>
        </div>

        <div class="col-sm-5">
          <label for="phone" class="form-label">លេខទូរស័ព្ទ</label>
          <input type="text" class="form-control" name="phone" placeholder="" value="<%= student.phone %>">
          <div class="invalid-feedback">
            
          </div>
        </div>

        <div class="col-md-4">
          <label for="gender" class="form-label">ភេទ</label>
          <select class="form-select" name="gender" required="">
            <option value="ប្រុស" <% if (student.gender === 'ប្រុស') { %>selected<% } %>>ប្រុស</option>
            <option value="ស្រី" <% if (student.gender === 'ស្រី') { %>selected<% } %>>ស្រី</option>
            <option value="ព្រះសង្ឈ" <% if (student.gender === 'ព្រះសង្ឈ') { %>selected<% } %>>ព្រះសង្ឈ</option>
          </select>
          <div class="invalid-feedback">
            សូមជ្រើសរើសភេទ
          </div>
        </div>

        <div class="col-md-3">
          <label for="dateofbirth" class="form-label">ថ្ងៃខែឆ្នាំកំណើត</label>
          <input type="date" class="form-control" name="dateofbirth" value="<%= student.dateofbirth.toISOString().slice(0, 10) %>" placeholder="" required="">
          <div class="invalid-feedback">
            សូមជ្រើសរើសកាលបរិច្ឆេទ
          </div>
        </div>

        <div class="col-md-5">
          <label for="skill" class="form-label">ជំនាញ</label>
          <select class="form-select" name="skill" required="">
            <option value="រដ្ឋបាលកុំព្យូទ័រ" <% if (student.skill === 'រដ្ឋបាលកុំព្យូទ័រ') { %>selected<% } %>>រដ្ឋបាលកុំព្យូទ័រ</option>
            <option value="ក្រាហ្វិកឌីសាញ" <% if (student.skill === 'ក្រាហ្វិកឌីសាញ') { %>selected<% } %>>ក្រាហ្វិកឌីសាញ</option>
          </select>
          <div class="invalid-feedback">
            សូមជ្រើសរើសជំនាញ
          </div>
        </div>

        <div class="col-md-4">
          <label for="course" class="form-label">វគ្គសិក្សា</label>
          <select class="form-select" name="course" required="">
            <option value="CAMT" <% if (student.course === 'CAMT') { %>selected<% } %>>CAMT</option>
            <option value="OAP" <% if (student.course === 'OAP') { %>selected<% } %>>OAP</option>
          </select>
          <div class="invalid-feedback">
            សូមជ្រើសរើសវគ្គសិក្សា
          </div>
        </div>

        <div class="col-md-3">
          <label for="dateregister" class="form-label">ថ្ងៃចុះឈ្មោះ</label>
          <input type="date" class="form-control" name="dateregister" value="<%= student.dateregister.toISOString().slice(0, 10) %>" placeholder="" required="">
          <div class="invalid-feedback">
           សូមជ្រើសរើសកាលបរិច្ឆេទ
          </div>
        </div>

        <div class="col-md-5">
          <label for="price" class="form-label">តម្លៃសិក្សា</label>
          <input type="text" class="form-control" name="price" value="<%= student.price %>" placeholder="" required="">
          <div class="invalid-feedback">
            សូមបំពេញតម្លៃសិក្សា
          </div>
        </div>
        
        <div class="col-md-4">
          <label for="payment" class="form-label">ការទូទាត់</label>
          <select class="form-select" name="payment" required="">
            <option value="Cash" <% if (student.payment === 'Cash') { %>selected<% } %>>Cash</option>
            <option value="ABA" <% if (student.payment === 'ABA') { %>selected<% } %>>ABA</option>
          </select>
          <div class="invalid-feedback">
            សូមជ្រើសរើសការទូរទាត់
          </div>
        </div>

        <div class="col-md-3">
          <label for="occupation" class="form-label">មុខរបរ</label>
          <select class="form-select" name="occupation" required="">
            <option value="សិស្ស" <% if (student.occupation === 'សិស្ស') { %>selected<% } %>>សិស្ស</option>
            <option value="មានការងារ" <% if (student.occupation === 'មានការងារ') { %>selected<% } %>>មានការងារ</option>
            <option value="ទំនេរ" <% if (student.occupation === 'ទំនេរ') { %>selected<% } %>>ទំនេរ</option>
            <option value="ផ្សេងៗ" <% if (student.occupation === 'ផ្សេងៗ') { %>selected<% } %>>ផ្សេងៗ</option>

            
          </select>
          <div class="invalid-feedback">
            សូមជ្រើសរើសមុខរបរ
          </div>
        </div>

        <div class="col-md-5">
          <label for="status" class="form-label">ស្ថានភាព</label>
          <select class="form-select" name="status" required="">
            <option value="កំពុងសិក្សា" <% if (student.status === 'កំពុងសិក្សា') { %>selected<% } %>>កំពុងសិក្សា</option>
            <option value="បញ្ចប់ការសិក្សា" <% if (student.status === 'បញ្ចប់ការសិក្សា') { %>selected<% } %>>បញ្ចប់ការសិក្សា</option>
            <option value="បោះបង់ការសិក្សា" <% if (student.status === 'បោះបង់ការសិក្សា') { %>selected<% } %>>បោះបង់ការសិក្សា</option>
          
          
          </select>
          <div class="invalid-feedback">
            សូមជ្រើសរើសស្ថានភាព
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ចាកចេញ</button>
      <button type="submit" class="btn btn-primary">រក្សាទុក</button>
    </div>
  </div>
</div>
</div>
</form>
<% })  %>

<% newListStudents.forEach(function(student, index) { %>
<form action="/studentList/<%= student._id %>?_method=DELETE" method="POST">
<div class="modal fade" id="confirmDeleteModal<%= index %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-3 shadow">
      <div class="modal-body p-4 text-center">
        <h4 class="mb-2">តើអ្នកពិតជាចង់លុបទិន្នន័យនេះមែនទេ?</h4>
        <p class="mb-0">ទិន្នន័យដែលបានលុបរួចមិនអាចត្រឡប់វិញបានទេ។</p>
      </div>
      <div class="modal-footer flex-nowrap p-0">
      
          <button class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" type="submit"><h5 style="color: red;">លុប</h5></button>
       
        <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal"><h5>ចាកចេញ</h5></button>
      </div>
    </div>
  </div>
</div>
</form>

<% })  %>




<%- include('partials/footer') %>